.card {
  background-color: #1c241f;
  border: 1px solid rgba(254, 215, 170, 0.05);
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 0.25s ease, 
  border-color 0.25s ease;
}


.card:hover {
  transform: translateY(-6px);
  border-color: #282424; 
  box-shadow: 0 20px 25px -5px rgba(85, 255, 156, 0.267), 
  0 8px 10px -6px rgba(24, 26, 145, 0.08);
}

.coverWrapper {
  height: 180px;
  width: 100%;
  background-color: #273c30; 
  border-radius: 12px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 8px;
}

.bookCover {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain; 
  border-radius: 4px;
}

.content {
  flex-grow: 1;
  margin-bottom: 12px;
}

.title {
  font-size: 22px;
  font-weight: 1000;
  color: #ffffff;
  margin: 0 0 4px 0;
}

.author {
  color: #a8a29e;
  font-size: 18px;
  margin: 0;
  font-weight: 700;
}

.footer {
  border-top: 1px solid #2c333f;
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.starActive { color: #fbbf24; font-size: 15px; }
.starInactive { color: #e7eaf1; font-size: 15px; }

.ratingText {
  font-size: 14px;
  color: #727883;
  font-weight: 700;
}

.description {
  color:  #727883;;
  font-size: 15px;
  margin: 0;
  font-weight: 500;
  line-height: 1.5;
}

